In [1]:
import pandas as pd

## Обработка файла для SPMF

In [2]:
data = pd.read_csv('task1-2/phrase-company.txt', sep=' ',header=None, names=['phrase', 'company', 'count'])

In [3]:
data['phrase'] = data['phrase'].apply(str)

In [4]:
data.head(3)

  phrase  company  count
0      0       23      1
1      0       96      1
2      0      188      1

In [5]:
data = data.groupby('company')['phrase'].apply(lambda x: ' '.join(x))

In [6]:
data.head(3)

company
0    332 345 355 663 665 674 681 691 696 719 730 96...
1    281 285 286 287 740 741 766 767 830 831 832 83...
2    22 33 129 218 249 250 251 287 646 654 655 657 ...
Name: phrase, dtype: object

In [7]:
data.to_csv('task1-2/input.txt', index=None)

In [8]:
data.shape

(2000,)

In [9]:
print('minsup =',35/2000)

minsup = 0.0175

## Полученные результаты

In [39]:
phrases = pd.read_csv('task1-2\phrases.txt', header = None, names=['phrase']) #фразы
phrares_list = phrases.values.flatten()

In [40]:
print (' "{0}" "{1}" ==> "{2}"'.format(phrares_list[663], phrares_list[674], phrares_list[345]))
print (' "{0}" "{1}" ==> "{2}"'.format(phrares_list[345], phrares_list[674], phrares_list[663]))
print (' "{0}" ==> "{1}"'.format(phrares_list[2536], phrares_list[2336]))
print (' "{0}" ==> "{1}"'.format(phrares_list[355], phrares_list[345]))
print (' "{0}" ==> "{1}"'.format(phrares_list[355], phrares_list[674]))
print (' "{0}" ==> "{1}"'.format(phrares_list[2159], phrares_list[2166]))

 "business home" "business home opportunity" ==> "based business home"
 "based business home" "business home opportunity" ==> "business home"
 "marketing online" ==> "internet marketing"
 "based business home opportunity" ==> "based business home"
 "based business home opportunity" ==> "business home opportunity"
 "hosting site web" ==> "hosting web"

## 3.

In [61]:
a1 = pd.read_csv('task1-2/1a.txt', sep='#SUP:', names=['phrases', 'SUP'])
a1['count_phrases'] = a1['phrases'].apply(lambda x: len(x.split()))
a1 = a1[a1['count_phrases'] == a1.count_phrases.max()]
a1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

                                            phrases  SUP  count_phrases
3313    989 998 1001 1011 1016 1019 1021 1888 1906    35              9
3321     989 995 998 1001 1011 1016 1019 1021 1906    36              9
3512    989 995 1001 1011 1016 1019 1021 1888 1906    37              9
3681     989 995 998 1001 1011 1016 1021 1888 1906    36              9
5403   120 1074 1075 1170 1233 1471 2156 2159 2166    35              9
17062     969 989 995 998 1011 1021 1882 1888 1906    36              9
17236     969 989 995 998 1001 1011 1021 1888 1906    35              9
17255     969 989 995 998 1001 1011 1021 1882 1906    35              9
18089    969 989 995 1001 1011 1021 1882 1888 1906    37              9

In [85]:
for p in a1.loc[3681]['phrases'].split():
    print (''.join(phrares_list[int(p)]))

casino gambling
casino gambling online
casino game
casino game online
casino internet
casino line
casino online
gambling internet
gambling online

In [82]:
b1 = pd.read_csv('task1-2/1b.txt', sep='#SUP:', names=['phrases', 'SUP']);
b1['count_phrases'] = b1['phrases'].apply(lambda x: len(x.split()))
b1 = b1[b1['count_phrases'] == 8]
b1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

                                        phrases  SUP  count_phrases
2084    1021 1906 1011 989 1001 1019 1006 1016    35              8
2088     1021 1906 995 989 1001 1019 1006 1016    35              8
2103     1021 1906 995 1011 989 1001 1006 1016    35              8
2120      995 1888 1011 989 1001 998 1019 1016    35              8
2125     1021 1906 1011 989 1001 998 1019 1016    37              8
2130      1021 1906 995 989 1001 998 1019 1016    37              8
2136     1021 1906 995 1011 1001 998 1019 1016    37              8
2150    1021 1906 1888 1011 989 1001 1019 1016    38              8
2153     1021 1906 969 1011 989 1001 1019 1016    35              8
2157     1021 1906 995 1011 989 1001 1019 1016    39              8
2161      1021 1906 995 969 989 1001 1019 1016    35              8
2174     1021 1906 995 969 1011 1001 1019 1016    35              8
2253     1021 1906 1888 1011 989 1001 998 1016    37              8
2256       1021 995 969 1011 989 1001 998 1016    35              8
2257      1021 1906 969 1011 989 1001 998 1016    35              8
2263      1021 1906 995 1011 989 1001 998 1016    38              8
2270       1021 1906 995 969 989 1001 998 1016    35              8
2286      1021 1906 995 969 1011 1001 998 1016    35              8
2328     1021 1906 969 1888 1011 989 1001 1016    35              8
2331    1021 1906 1882 1888 1011 989 1001 1016    35              8
2334     1021 1906 995 1888 1011 989 1001 1016    39              8
2338      1021 995 1882 969 1011 989 1001 1016    35              8
2343      1021 1906 995 969 1011 989 1001 1016    36              8
2349     1021 1906 995 1882 1011 989 1001 1016    35              8
2431      1021 1906 995 969 1888 1011 989 1016    35              8
2435     1021 1906 995 1882 1888 1011 989 1016    35              8
3140    2159 2156 120 1233 1075 1170 1074 1471    36              8
3142    2166 2156 120 1233 1075 1170 1074 1471    36              8
3145    2166 2159 120 1233 1075 1170 1074 1471    36              8
3149   2166 2159 2156 1233 1075 1170 1074 1471    36              8
...                                         ...  ...            ...
9555    2166 2159 2156 120 1233 1075 1170 2154    36              8
10345          663 674 355 681 667 347 665 346    35              8
10347          663 345 674 355 667 347 665 346    35              8
10352          663 345 674 355 681 347 665 346    36              8
10360          663 674 355 681 675 667 665 346    35              8
10365          663 345 674 355 681 667 665 346    35              8
10811     1021 1906 969 1888 1011 989 1001 998    37              8
10814    1021 1906 1882 1888 1011 989 1001 998    35              8
10817     1021 1906 995 1888 1011 989 1001 998    39              8
10821      1021 995 1882 969 1011 989 1001 998    36              8
10823     1021 1906 1882 969 1011 989 1001 998    36              8
10828      1021 1906 995 969 1011 989 1001 998    38              8
10834     1021 1906 995 1882 1011 989 1001 998    36              8
10846      1021 1906 995 1882 969 989 1001 998    36              8
10875     1021 1906 995 1882 969 1011 1001 998    36              8
10928     1021 1906 1882 969 1888 1011 989 998    39              8
10931      1021 1906 995 969 1888 1011 989 998    39              8
10935     1021 1906 995 1882 1888 1011 989 998    37              8
10944      1021 1906 995 1882 969 1011 989 998    38              8
11122   2166 2159 2156 120 1233 1075 2136 1170    35              8
11214    2166 2159 2156 120 688 1233 1075 1170    35              8
11330     1021 1906 969 500 1888 1011 989 1001    35              8
11336    1021 1906 1882 969 1888 1011 989 1001    38              8
11339     1021 1906 995 969 1888 1011 989 1001    39              8
11343    1021 1906 995 1882 1888 1011 989 1001    39              8
11352     1021 1906 995 1882 969 1011 989 1001    39              8
11979     1021 1906 1882 969 500 1888 1011 989    36              8
11982      1021 1906 995 969 500 1888 1011 989    37              8
11990     1021 1906 995 1882 969 1888 1011 989    42              8
12109          663 345 674 355 681 667 347 665    35              8

[82 rows x 3 columns]

In [83]:
for p in b1.loc[2286]['phrases'].split():
    print (''.join(phrares_list[int(p)]))

casino online
gambling online
casino gambling online
casino
casino internet
casino game online
casino game
casino line

In [75]:
c1 = pd.read_csv('task1-2/1c.txt', sep='#SUP:', names=['phrases', 'SUP']);
c1['count_phrases'] = c1['phrases'].apply(lambda x: len(x.split()))
c1 = c1[c1['count_phrases'] == 7]
c1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

                                  phrases  SUP  count_phrases
868      1021 1906 995 1011 989 998 1883    35              7
871    1021 1906 1888 1011 989 1001 1883    35              7
872     1021 1906 995 1011 989 1001 1883    36              7
878     1021 1906 969 1888 1011 989 1883    35              7
879    1021 1906 1882 1888 1011 989 1883    35              7
880     1021 1906 995 1888 1011 989 1883    37              7
882      1021 1906 995 969 1011 989 1883    35              7
1012     1021 1906 995 989 1001 998 1040    35              7
1013    1021 1906 995 1011 1001 998 1040    35              7
1016     1021 1906 995 1011 989 998 1040    36              7
1022    1021 1906 995 1011 989 1001 1040    36              7
1030    1021 1906 995 1888 1011 989 1040    36              7
1031     1021 1906 995 969 1011 989 1040    35              7
1044     995 989 1001 998 1019 1006 1016    36              7
1045    1021 989 1001 998 1019 1006 1016    35              7
1046    995 1011 989 1001 1019 1006 1016    35              7
1049     995 1011 989 1001 998 1006 1016    35              7
1050    1021 1011 989 1001 998 1006 1016    35              7
1051     1021 995 989 1001 998 1006 1016    36              7
1052    1021 1906 989 1001 998 1006 1016    35              7
1066    1021 1906 969 1001 998 1019 1016    35              7
1068     995 969 1011 989 1001 1019 1016    35              7
1073   1021 1906 1882 989 1001 1019 1016    35              7
1076  1021 1906 1882 1011 1001 1019 1016    35              7
1078   1021 1906 995 1882 1001 1019 1016    35              7
1090    1021 1906 1011 989 1001 992 1016    35              7
1092     1021 1906 969 989 1001 992 1016    35              7
1093     1021 1906 995 989 1001 992 1016    35              7
1096    1021 1906 1888 1011 989 992 1016    35              7
1098     1021 1906 969 1011 989 992 1016    35              7
...                                   ...  ...            ...
3379     1021 1906 1882 969 500 1011 465    35              7
3413         663 345 674 681 675 665 346    35              7
3414         663 345 674 355 675 665 346    35              7
3416         663 345 355 681 667 347 346    36              7
3417         663 674 355 681 675 347 346    35              7
3418         663 345 355 681 675 347 346    35              7
3426         663 345 674 355 681 675 346    35              7
3504     1882 969 1888 1011 989 1001 998    35              7
3506     995 1882 1888 1011 989 1001 998    35              7
3513     1021 1906 969 500 1888 1011 998    35              7
3540    2166 2156 120 688 1233 2136 1170    35              7
3541    2166 2159 120 688 1233 2136 1170    36              7
3542   2166 2159 2156 688 1233 2136 1170    38              7
3544    2166 2159 2156 120 688 2136 1170    36              7
3632    2166 2159 2156 120 688 1233 2136    36              7
3642      995 1882 969 500 1888 1011 989    35              7
3645      1906 995 1882 969 500 1888 989    35              7
3655         345 674 355 681 675 667 665    35              7
3656         663 345 674 681 675 667 665    36              7
3660        663 674 355 2991 681 675 665    35              7
3661         663 345 674 355 681 675 665    39              7
3664        663 345 674 355 2991 681 665    36              7
3707     1021 1906 995 1882 969 500 1011    35              7
3718     1021 1906 995 1882 969 500 1888    35              7
3726         345 674 355 681 675 667 347    36              7
3727         663 674 355 681 675 667 347    36              7
3728         663 345 355 681 675 667 347    35              7
3729         663 345 674 355 675 667 347    35              7
3742         663 345 674 355 681 675 347    36              7
3798         663 345 674 355 681 675 667    36              7

[195 rows x 3 columns]

In [81]:
for p in c1.loc[3632]['phrases'].split():
    print (''.join(phrares_list[int(p)]))

hosting web
hosting site web
hosting services web
affordable hosting web
business hosting web
cost hosting low web
hosting page web